<div class="row">

  <div class="col s2">
    <div id="stats"></div>
    <div id="hand"></div>
    <div id="help">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">live_help</i>Tutorial</div>
        <div class="collapsible-body"><p>You are in control of the Zybourne Clock, a futuristic device that allows you to change history. Note that the timeline can only hold 4 events at a time, so in order to insert in a new event into the timeline, you have to delete a event first. <em>Good luck!</em></p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">warning</i>The Lore</div>
        <div class="collapsible-body"><p>You are Sylus, an R&D scientist working for the Commonwealth of Rasenni. The evil dictator 'Johnny Five-Ace' has destroyed our country in a great war, leaving you as a bitter war veteran. Luckily, you discovered a device called the Zybourne Clock within the ruins of the Civilus Primiscotas. Johnny once used this Clock to help him win the great war. <br><br> Now, it's time to use the Clock's power against Johnny. Change history to stop Johnny Five-Ace from winning (while also ensuring humanity doesn't die in the process).</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">work</i>Game Information</div>
        <div class="collapsible-body"><p>Zybourne Clock was originally a 2003 game project that went horribly off-the-rails (over 50 people volunteered, 0 knew how to program). Starting from 2012, I started work on a remake of the project, trying to stay close to the original "canon" material while also producing an interesting game. If you are interested more about my thought-process while making this game, please visit my <a href="http://www.bay12forums.com/smf/index.php?topic=111311.0">dev diary</a> for more information, or you may <a href="https://github.com/tra38/Zybourne-Clock-Redux">look at the source code.</a></p>
    </ul>
  </div>
  </div>

  <div class="col s10 container">
    <div id="timeline"></div>
    <hr>
    <div id="results"></div>
  </div>

</div>
