<!DOCTYPE html>
<html>
<head>
  <title>ZybourneClockRedux</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
  <script type="text/javascript" src="javascript/materialize.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
